# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo= pd.read_csv(url, sep='\t')

### Step 4. See the first 10 entries

In [3]:
print(chipo.head(10))

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl
5         3         1                           Chicken Bowl
6         3         1                          Side of Chips
7         4         1                          Steak Burrito
8         4         1                       Steak Soft Tacos
9         5         1                          Steak Burrito

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
6                                                NaN     $1.69
7  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
8  [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
9  [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25

### Step 5. What is the number of observations in the dataset?

In [4]:
#number of observations
number_of_observations= chipo.shape[0]
print(number_of_observations)

4622

In [5]:
#show info about the data
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 6. What is the number of columns in the dataset?

In [6]:
num_columns = chipo.shape[1]

### Step 7. Print the name of all the columns.

In [7]:
print(num_columns)

5

### Step 8. How is the dataset indexed?

In [8]:
print(chipo.index)

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [9]:
item_orders = chipo.groupby('item_name').quantity.sum()
most_ordered_item = item_orders.idxmax()
print(most_ordered_item)

Chicken Bowl

### Step 10. For the most-ordered item, how many items were ordered?

In [10]:
most_ordered_quantity = item_orders.max()
print(most_ordered_quantity)

761

### Step 11. What was the most ordered item in the choice_description column?

In [12]:
choice_totals = chipo.groupby('choice_description').quantity.sum()
most_ordered_choice_description = choice_totals.idxmax()
print(most_ordered_choice_description)

[Diet Coke]

### Step 12. How many items were orderd in total?

In [13]:
total_items = chipo['quantity'].sum()
print(total_items)

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [17]:
check_the_type=(chipo['item_price'].dtype)
print(check_the_type)

False

#### Step 13.b. Create a lambda function and change the type of item price

In [18]:
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x.replace('$', '')))

#### Step 13.c. Check the item price type

In [19]:
check_the_type=(chipo['item_price'].dtype)
print(check_the_type)

float64

### Step 14. How much was the revenue for the period in the dataset?

In [ ]:
total_revenue = (chipo['quantity'] * chipo['item_price']).sum()
print("Total revenue for the period:", total_revenue)

### Step 15. How many orders were made in the period?

In [ ]:
total_orders = chipo['order_id'].nunique()
print("Total orders made in the period:", total_orders)

### Step 16. What is the average revenue amount per order?

In [ ]:
revenue_per_order = chipo.groupby('order_id').apply(lambda df: (df['quantity'] * df['item_price']).sum())

In [ ]:
average_revenue_per_order = revenue_per_order.mean()
print("Average revenue amount per order:", average_revenue_per_order)

### Step 17. How many different items are sold?

In [ ]:
unique_items_sold = chipo['item_name'].nunique()

In [ ]:
print("Different items sold:", unique_items_sold)